@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
    padding: 10px 60px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

nav h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
    padding: 60px;
    gap: 16px;
}

    /* Header-info*/
header h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 6px;
}

header button {
    padding: 8px 24px;
    border: none;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 6px;
}
    /* Header-info */

header img {
    width: 400px;
    height: 200px;
}

/* Main Content*/

main {
    display: flex;
    flex-direction: column;
}

/* Main > Card Container */

.card-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 80px 60px 80px; 
}

.card-container h2{
    font-size: 36px;
    font-width: 900;
    margin: 20px;
    color: #1F2937;
}

.card-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
    text-align: center;
}

.card-box img {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 8px;
}

figcaption {
    padding: 6px;
    font-size: 16px;
    font-color: #E5E7EB;
}

/* Quote Section */

.quote-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 60px;
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    color: #1F2937;
    font-weight: 200;
}

.quote-box p {
    font-size: 24px;
    color: #1F2937;
    font-weight: bold;
    margin-left: auto;
}

/* Registration Container */

.register-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
}

.register-box {
    display: flex;
    color: #F9FAF8;
    padding: 30px 120px;
    gap: 64px;
    background-color: #3882F6;
    border-radius: 10px
}

.register-box button {
    align-self: center;
    min-width: 80px;
    max-height: 40px;
    padding: 4px 8px;
    color: #F9FAF8;
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 12px;
}

/* Footer */

footer {
    padding: 20px 0 20px 0;
    text-align: center;
    color: #F9FAF8;
    background-color: #1F2937;
}

