@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

* {
  margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

/* Navigation Bar */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1F2937;
}

nav > h1 {
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1F2937;
}

header h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

header p {
    font-size: 18px;
    color: #E5E7EB;
    margin-top: 6px;
}

header button {
    padding: 8px 24px;
    border: none;
    border-radius: 6px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 12px;
    background-color: #3882F6;
    color: #F9FAF8;
    margin-top: 6px;
}

/* Main Content & Cards */

